@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basement Grotesque";
  src: url("./fonts/BasementGrotesque-Black.woff2") format("woff2"),
    url("./fonts/BasementGrotesque-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.md-text-shadow {
  text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 3px 3px #fff,
    -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
}
.text-shadow {
  text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.texto-carrusel {
  display: inline-block;
  white-space: nowrap;
  animation: desplazar 100s linear infinite;
  width: 200%;
  text-align: left;
  transform: translateX(0%);
  animation-timing-function: linear;
}

@keyframes desplazar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

::selection {
  color: black;
  background-color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}
